:root {
  --color-tone-1: #d7dadc;
  --color-tone-2: #818384;
  --color-tone-3: #565758;
  --color-tone-4: #3a3a3c;
  --color-tone-5: #272729;
  --color-tone-6: #1a1a1b;
  --color-tone-7: #121213;
  --opacity-50: #00000080;
  --correct: #538d4e;

  --ff-base: "Inter", sans-serif;
  --ff-headings: "Barlow Condensed", sans-serif;

  --tile-border-color: var(--color-tone-4);
  --bg-color: #121213;
  --tile-width: 62px;
  --tile-offset: 5px;
  --tile-text-color: #d7dadc;
  --game-max-width: 500px;
  --header-height: 50px;
  --header-border-color: var(--color-tone-4);
  --header-text-color: var(--tile-text-color);
  --state-focused: var(--color-tone-3);
  --state-correct: var(--correct);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: var(--bg-color);
}
.main-header {
  height: var(--header-height);
  width: 100%;
  border-bottom: 1px solid var(--header-border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.main-header h1 {
  font-family: var(--ff-headings);
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--header-text-color);
}
.game-container {
  max-width: var(--game-max-width);
  width: 100%;
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--tile-offset);
}
.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--tile-offset);
}
.tile {
  max-width: var(--tile-width);
  width: 100%;
  aspect-ratio: 1;
  border: 2px solid var(--tile-border-color);
  color: var(--tile-text-color);
  font-size: clamp(1rem, 5vw + 0.5rem, 2rem);
  font-weight: bold;
  text-transform: uppercase;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  position: relative;
}
.tile::after {
  content: attr(data-letter);
}
[data-state="focus"] {
  border-color: var(--state-focused);
}
[data-state="correct"] {
  background-color: var(--state-correct);
}
