:root {
  --color-tone-1: #d7dadc;
  --color-tone-2: #818384;
  --color-tone-3: #565758;
  --color-tone-4: #3a3a3c;
  --color-tone-5: #272729;
  --color-tone-6: #1a1a1b;
  --color-tone-7: #121213;
  --opacity-50: #00000080;
  --correct: #538d4e;

  --ff-base: "Inter", sans-serif;
  --ff-headings: "Barlow Condensed", sans-serif;
  --bg-color: #121213;

  --tile-border-color: var(--color-tone-4);
  --tile-width: 62px;
  --tile-offset: 5px;
  --tile-text-color: #d7dadc;
  --game-max-width: 500px;
  --header-height: 50px;
  --header-border-color: var(--color-tone-4);
  --header-text-color: var(--tile-text-color);
  --state-active: var(--color-tone-3);
  --state-correct: var(--correct);
  --state-wrong: var(--color-tone-3);
  --state-close: #b59f3b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: var(--bg-color);
}
.main-header {
  height: var(--header-height);
  width: 100%;
  border-bottom: 1px solid var(--header-border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.main-header h1 {
  font-family: var(--ff-headings);
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--header-text-color);
}
.game-container {
  max-width: var(--game-max-width);
  width: 100%;
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--tile-offset);
  position: relative;
}
.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--tile-offset);
}
.tile {
  max-width: var(--tile-width);
  width: 100%;
  aspect-ratio: 1;
  border: 2px solid var(--tile-border-color);
  color: var(--tile-text-color);
  font-size: clamp(1rem, 5vw + 0.5rem, 2rem);
  font-weight: bold;
  text-transform: uppercase;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  position: relative;
  backface-visibility: hidden;
  transition: transform 250ms linear;
}
.tile.flip {
  transform: rotateX(90deg);
}
.tile::after {
  content: attr(data-letter);
}
[data-state="active"] {
  border-color: var(--state-active);
  transition: 300ms ease;
  animation: state-active 500ms ease forwards;
}
[data-state="correct"] {
  background-color: var(--state-correct);
  border-color: var(--state-correct);
}
[data-state="close"] {
  background-color: var(--state-close);
  border-color: var(--state-close);
}
[data-state="wrong"] {
  background-color: var(--state-wrong);
  border-color: var(--state-wrong);
}
.alert-container {
  position: absolute;
  top: 15vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: capitalize;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  border-radius: 8px;
  color: var(--bg-color);
  background-color: var(--tile-text-color);
  z-index: 1;
  transition: 3s ease;
}
.alert.hide {
  opacity: 0;
}
@keyframes state-active {
  from {
    opacity: 0.5;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
